.customize {
	background: #2a313c;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__bcg {
		max-width: 600px;
		max-height: 700px;

		img {
			max-width: 100%;
			max-width: 100%;
		}
	}

	&__info {
		max-width: 600px;
		max-height: 100%;
	}
	&__column {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		img {
			max-width: 174px;
			max-height: 150px;
		}
		img:hover {
			transition: all 0.3s;
			border: 10px solid #3b3d46;
			border-radius: 20px;
		}
	}
}
